<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{layout/base}"
>
<body>

<!-- Surcharger le title -->
<title layout:fragment="title">Films</title>

<!-- Surcharger le content -->
<div layout:fragment="content">
    <div class="uk-container">
        <h1>Les films</h1>

        <div th:each="movie : ${movies}" class="uk-padding-small">
            <div class="eni-movie-card"
                 style="background-image: url('/fake-movie-2.jpg');">
                <div class="eni-movie-card-layer-2">
                    <h1 th:text="${movie.title}"></h1><span th:text="${movie.duration} + ' min'"></span>
                    <div>
                        <i th:each="star: ${maxStars}" class="fa fa-star"
                           th:classappend="${movie.getNote() >= star} ? 'eni-star-check' : ''"></i>
                    </div>
                    <p th:text="${movie.synopsis}" class="eni-desc"></p>
                </div>
                <a th:href="@{'/movie-detail/' + ${movie.id}}" class="eni-movie-card-click">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>