<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css" />

    <!-- My Theme -->
    <link rel="stylesheet" href="eni-theme.css" />

    <title>Title</title>

</head>
<body>

<div class="uk-container">
    <h1>Les films</h1>

    <div class="uk-child-width-1-1@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top uk-cover-container">
                    <img src="fake-movie-1.jpg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Velocipastor</h3>
                    <div>
                        <i class="fa fa-star eni-star-check"></i>
                        <i class="fa fa-star eni-star-check"></i>
                        <i class="fa fa-star eni-star-check"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top uk-cover-container">
                    <img src="fake-movie-1.jpg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Velocipastor</h3>
                    <div>
                        <i class="fa fa-star eni-star-check"></i>
                        <i class="fa fa-star eni-star-check"></i>
                        <i class="fa fa-star eni-star-check"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>